<?xml version='1.0' encoding='utf-8'?>
<widget id="org.ongrocery.store" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ONS Grocery</name>
    <description>
        Online Grocery Store for  home delivery of fruits and vegetables, total fresh
    </description>
    <author email="support@onsgrocery.com" href="http://www.onsgrocery.com">
        ONS Team
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="SplashScreenDelay" value="5000" />
    <platform name="android">
        <icon src="www/res/icon/android/logo.png" />
        <splash platform="android" qualifier="port-ldpi" src="res/screen/android/splash.png" />
        <splash platform="android" qualifier="port-mdpi" src="res/screen/android/splash.png" />
        <splash platform="android" qualifier="port-hdpi" src="res/screen/android/splash.png" />
        <splash platform="android" qualifier="port-xhdpi" src="res/screen/android/splash.png" />
        <splash platform="android" qualifier="land-ldpi" src="res/screen/android/splash.png" />
        <splash platform="android" qualifier="land-mdpi" src="res/screen/android/splash.png" />
        <splash platform="android" qualifier="land-hdpi" src="res/screen/android/splash.png" />
        <splash platform="android" qualifier="land-xhdpi" src="res/screen/android/splash.png" />
        <splash src="splash.png" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <engine name="android" spec="~7.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-battery-status" spec="~1.2.4" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
    <plugin name="cordova-plugin-file" spec="~4.3.3" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.3" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.7" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.5" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.2" />
    <plugin name="cordova-plugin-spinner" spec="~1.1.0" />
</widget>
