
/* Portrait layout (default) */
.app {
    background:url(../img/logo-mobile.png) no-repeat center top; /* 170px x 200px */
   
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* div:last-child>iframe{
    background:url(../img/vegies.png) no-repeat center top fixed !important;
    background-size:cover;
} */

.no-internet{
    padding-top: 45%;
    text-align: center;
    font-size: larger;
}
.blink{
    position: absolute;
    margin: auto;
    top: 104%;
    left: 0;
    bottom: 0;
    right: 0;
}
